@page
@model Proiect.Pages.Leagues.CreateModel
@{
}


<h2> New League</h2>


@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role='alert'>
		<strong>@Model.errorMessage</strong>
		<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
	</div>
}


<form method="POST">

	
	
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Id</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="id" value="@Model.info.id">
		</div>
	</div>


	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="name" value="@Model.info.name">
		</div>
	</div>


	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Country</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="country" value="@Model.info.country">
		</div>
	</div>



	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Market Value</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="marketValue" value="@Model.info.marketValue">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Number Of Teams</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="numberOfTeams" value="@Model.info.numberOfTeams">
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Ranking</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="ranking" value="@Model.info.ranking">
		</div>
	</div>


	@if (Model.succesMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col-sm-9">
				<div class='alert alert-success alert-dismissible fade show' role='alert'>
					<strong>@Model.succesMessage</strong>
					<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
				</div>
			</div>
		</div>
		
	}


    <div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
		   <button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>

</form>
