@page
@model Proiect.Pages.Leagues.IndexModel
@{
}
<br>

 <h2>List of leagues</h2>
<select class="form-control" onchange="setLeagueValue()">
	<option>Select League</option>
	<option value="Premier League">Premier League</option>
	<option value="Ligue 1">Ligue 1</option>
	<option value="LaLiga">LaLiga</option>
	<option value="Serie A">Serie A</option>
	<option value="Bundesliga">Bundesliga</option>
	<option value="SuperLiga">SuperLiga</option>
</select>

<input type="hidden" id="leagueName" name="leagueName" />

<table id="team-table">
	<tbody>
			@foreach (var item in Model.listTeam)
			{
			<tr>

				<td>@item.name</td>
				<td>@item.teamValue</td>
				<td>@item.squadSize</td>
				<td>@item.stadium</td>
				<td>@item.city</td>

			</tr>
			}
	</tbody>

</table>

<script>
	function setLeagueValue() {
		var selectElement = document.querySelector('.form-control');
		var selectedValue = selectElement.value;
		document.getElementById("leagueName").value = selectedValue;
	}
</script>

</br>

