@page
@model Proiect.Pages.Leagues.IndexModel
@{
}

<br>

<h2>List of Leagues</h2>
<a class='btn btn-primary' href='/Leagues/Create'>New League</a>


<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Country</th>
			<th>MarketValue</th>
			<th>NumberOfTeams</th>
			<th>Ranking</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.leagues)
			{
				<tr>
					<td>@item.id</td>
					<td>@item.name</td>
					<td>@item.country</td>
					<td>@item.marketValue</td>
					<td>@item.numberOfTeams</td>
					<td>@item.ranking</td>

  					<td>
					    <a class="btn btn-primary btn-sm" href="/Leagues/Edit?id=@item.id">Edit</a>
						<a class="btn btn-danger btn-sm" href="/Leagues/Delete?id=@item.id">Delete</a>
						<a class="btn btn-light btn-sm" href="/Leagues/DisplayTeams?id=@item.id">DisplayTeams</a>

					</td>

				</tr>
			}
	</tbody>
</table>

</br>
