@page
@model Proiect.Pages.Leagues.IndexModel
@{
}

<br>

<h2>List of Teams</h2>
<a class='btn btn-primary' href='/Leagues/Create'>New Team</a>


<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>TeamValue</th>
			<th>SquadSize</th>
			<th>Stadium</th>
			<th>City</th>
			<th>IdLeague</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model.teams)
			{
				<tr>
					<td>@item.id</td>
					<td>@item.name</td>
					<td>@item.teamValue</td>
					<td>@item.squadSize</td>
					<td>@item.stadium</td>
					<td>@item.city</td>
                    <td>@item.idLeague</td>
					<td>

					    <a class="btn btn-primary btn-sm" href="/Leagues/Edit?id=@item.id">Edit</a>
						<a class="btn btn-danger btn-sm" href="/Leagues/Delete?id=@item.id">Delete</a>
						<a class="btn btn-light btn-sm" href="/Leagues/Display?id=@item.id">Display</a>

					</td>

				</tr>
			}
	</tbody>
</table>

</br>
